<%- include('partials/header') %>
<div class="big-container">
    
<form action="/register" method="POST" class="loginscreen">
    <div>
        <h1>Register</h1>
        <h3>Email</h3>
        <input type="email" name="username">
    </div>
    <div>
        <h3>Password</h3>
        <input type="password" name="password" class="pw-box">
    </div>
    
    <button type="submit">Register</button>
</form>
</div>

<%- include('partials/footer') %>
